{%- comment -%} /templates/customers/register.liquid {%- endcomment -%}


{% liquid
  assign heading_result = 'customer.register.title' | t
  assign heading_result = heading | default : heading_result

  assign opt_in_text_result = 'customer.register.email_subscription_html' | t
  assign opt_in_text_result = opt_in_text | default : opt_in_text_result

  assign submit_button_text_result = 'customer.register.submit' | t
  assign submit_button_text_result = submit_button_text | default : submit_button_text_result

  assign opt_in_position_result = opt_in_position | default : 'bottom'
%}


{% capture marketing_sign_in %}
  <div class="accepts-marketing email_marketing">
  <input type="hidden" name="customer[accepts_marketing]" value="false" />
  <input type="checkbox" name="customer[accepts_marketing]" />
  <label for="accepts-marketing">{{opt_in_text_result}}</label>
  </div>
{% endcapture %}

{%- if settings.site_brand == 'livingproof' and settings.site_region == 'us' -%}
  <link href="{{ 'login-lp.css' | asset_url }}" rel="stylesheet" type="text/css">
{% endif %}


<section class="page-customer">
  {% if show_close_icon %}
    {% render 'icon-close' %}
  {% endif %}

  <div class="wrapper">
    <div class="form-vertical-wrapper">
      <div class="login-form-container">
        <div class="section__header">
          <h2 class="section__heading account__heading account__heading--small heading-register-page">{{ heading_result }}</h2>
          {%- if settings.show_spacer_lines -%}
            <hr class="section__heading-line">
          {%- endif -%}
        </div>
        <div class="form-vertical">
          {% form 'create_customer', id: 'CreateCustomer', return_to:return_to %}

            <input name="return_to" type="hidden" value="back">

            {{ form.errors | default_errors }}

            {% if opt_in_position_result == 'top' %}
              {{marketing_sign_in}}
            {% endif %}
            {% if opt_in_info %}
              <div class='opt-in-info'>
                {{opt_in_info}}
              </div>
            {% endif %}
            {% if opt_in_position_result == 'middle' %}
              {{marketing_sign_in}}
            {% endif %}

            <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
            <input type="text" name="customer[first_name]" id="FirstName" class="input--full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
            <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
            <input type="text" name="customer[last_name]" id="LastName" class="input--full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
            <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
            <input type="email" name="customer[email]" id="Email" class="input--full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
            <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>

            <input type="password" name="customer[password]" id="CreatePassword" class="input--full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}" required>

            {% if opt_in_position_result == 'bottom' %}
              {{marketing_sign_in}}
            {% endif %}

            {% if settings.loyalty_enabled and settings.loyalty_explict_opt_in %}
              <div class="accepts-loyality email_marketing">
                <input type="checkbox" name="loyalty_program" id="LoyaltyProgram"/>
                <label for="LoyaltyProgram">{{ 'customer.register.email_loyalty_html' | t }}</label>
              </div>
            {% endif %}
            <button type="submit" class="btn btn--primary btn--solid">{{ submit_button_text_result }}</button>
            <a class = "return light-gray" href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
          {% endform %}
        </div>
      </div>
      {% section 'login-image' %}
    </div>
  </div>
</section> 
{% if settings.loyalty_enabled and settings.loyalty_explict_opt_in %}
<script>

document.getElementById('CreateCustomer').addEventListener('submit', function(event) {
let FirstName = document.getElementById('FirstName').value;
let LastName = document.getElementById('LastName').value;
let Email = document.getElementById('Email').value;
let LoyaltyProgram = document.getElementById('LoyaltyProgram').checked;
let storeDo = Shopify.shop
  

 var formdata = new FormData();
formdata.append("email", Email);
formdata.append("firstName", FirstName);
formdata.append("lastName", LastName);
formdata.append("loyalty_program", LoyaltyProgram);
formdata.append("storeDo", storeDo);
  

  const requestOptions = {
    method: "POST",
    body: formdata,
    redirect: "follow"
  };
  fetch("{{settings.app_loyalty_url}}", requestOptions)
  
});

</script>
{% endif %}
