{%- comment -%}
  Renders a pagination bar
  Accepts:

  - paginate: {Object} Paginate Liquid object (required)

  Usage:
  {%- render 'pagination', paginate: paginate -%}
{%- endcomment -%}
{%- capture icon_previous -%}
  <button class="pagination__button pagination__button--previous">
    <span class="visually-hidden">{{ 'general.pagination.previous' | t }}</span>
    {% render 'icon-select' %}
  </button>
{%- endcapture -%}

{%- capture icon_next -%}
  <button class="pagination__button pagination__button--next">
    <span class="visually-hidden">{{ 'general.pagination.next' | t }}</span>
    {% render 'icon-select' %}
  </button>
{%- endcapture -%}

{%- capture icon_previous_lp -%}
  <button class="pagination__button pagination__button--previous">
    <span class="visually-hidden">{{ 'general.pagination.previous' | t }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
        <path d="M12.4994 0.5L21 9M21 9L12.4994 17.5M21 9H1" stroke="black" stroke-linecap="round"/>
      </svg>
  </button>
{%- endcapture -%}

{%- capture icon_next_lp -%}
  <button class="pagination__button pagination__button--next">
    <span class="visually-hidden">{{ 'general.pagination.next' | t }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 22 18" fill="none">
        <path d="M9.50059 0.5L1 9M1 9L9.50059 17.5M1 9H21" stroke="black" stroke-linecap="round"/>
      </svg>
  </button>
{%- endcapture -%}

{%- if settings.site_brand == 'livingproof' and settings.site_region == 'us' -%}
  {%- assign icon_previous = icon_previous_lp -%}
  {%- assign icon_next = icon_next_lp -%}
{%- else -%}
  {%- assign icon_previous = icon_previous -%}
  {%- assign icon_next = icon_next -%}
{%- endif -%}

<div class="pagination" data-pagination>
  {{- paginate | default_pagination | replace: '&laquo; Previous', icon_previous | replace: 'Next &raquo;', icon_next -}}
</div>
