{% comment %} /sections/background-video.liquid {% endcomment %}

{%- liquid
  assign unique = section.id
  assign video_id = section.settings.video_link.id
  assign section_height = section.settings.video_height
  assign title = section.settings.title
  assign heading_highlight_type = section.settings.heading_highlight_type
  assign highlight_color = section.settings.highlight_color
  assign highlight_text_color = section.settings.highlight_text_color
  assign heading_size = section.settings.heading_size | times: 0.01
  assign heading_size_mobile = section.settings.heading_size_mobile | times: 0.01
  assign text = section.settings.text
  assign text_size = section.settings.video_text_size | times: 0.01
  assign text_size_mobile = section.settings.video_text_size_mobile | times: 0.01
  assign text_color = section.settings.text_color
  assign image = section.settings.image 
  assign button_text = section.settings.button_text
  assign button_link = section.settings.button_link | default: '#'
  assign button_style = section.settings.button_style
  assign text_position_mobile = section.settings.text_position_mobile
  assign button_color = section.settings.button_color
  assign button_size = section.settings.button_size
  assign button_full_width_mobile = section.settings.button_full_width_mobile
  assign desktop_alignment = section.settings.text_alignment_desktop
  assign mobile_alignment = section.settings.text_alignment_mobile
  assign text_position = section.settings.text_position
  assign limitTextoverlaytoBox = section.settings.limitTextoverlaytoBox
  assign enable_mobile_height = section.settings.enable_mobile_height
  assign mobile_height = section.settings.mobile_height
  assign show_text_shadow = settings.show_text_shadow
  assign overlay_opacity = section.settings.overlay_opacity | times: 0.01
  assign animations_enabled = settings.animations_enabled
  assign animation_anchor = '#FeaturedVideo--' | append: section.id
  assign animation_delay = 150
  assign video_popup_link = section.settings.video_popup_link
  assign video_popup = section.settings.video_popup
  assign text_width = section.settings.text_width

  if video_popup.sources[1].url != blank
    assign video_id = section.settings.video_popup.id
    assign video_popup_link = video_popup.sources[1].url
    if image == blank
      assign image = video_popup.preview_image
    endif
  else
    assign video_id = section.settings.video_link_bg.id
    assign background_video = section.settings.video_link_bg
    assign background_video_mobile = section.settings.video_link_bg_mobile
  endif


  case text_width
    when 'narrow'
      assign text_width_class = 'banner-image__text-wrapper--narrow'
    when 'normal'
      assign text_width_class = 'banner-image__text-wrapper--normal'
    when 'wide'
      assign text_width_class = 'banner-image__text-wrapper--wide'
      when 'full-width'
      assign text_width_class = 'banner-image__text-wrapper--full-width'
  endcase

-%}{% comment %}
  Enhanced text decorations options - Liqiud variables

  Dependencies:
    - Title liquid object from settings: `assign title = section.settings.title`
    - Highlight type from settings: `assign heading_highlight_type = section.settings.heading_highlight_type`
    - Highlight color from settings: `assign highlight_color = section.settings.highlight_color or assign highlight_color = block.settings.highlight_color`
    - SVG icons:
      - icon-squiggle.svg (assets)
      - icon-circle.liquid (snippet)
{% endcomment %}

{%- liquid
  comment
   Highlighted words count
  endcomment
  assign title_temp = title | split: '<em>'
  assign em_arr = ''
  if title_temp.size > 1
    for text_part in title_temp offset: 1
      assign em_text = text_part | split: '</em>' | first
      assign em_arr = em_arr | append: '#separator#' | append: em_text
    endfor
  endif
  assign em_arr = em_arr | split: '#separator#'
  assign words_count_arr = ''
  assign letters_count_arr = ''
  if em_arr.size > 0
    for words in em_arr offset: 1
      assign word = words | split: ' '
      assign words_count_arr = words_count_arr | append: word.size | append: ', '
      assign letters_count_arr = letters_count_arr | append: words.size | append: ', '
    endfor
  endif

  assign words_count_arr = words_count_arr | replace_last: ', ', '' | split: ', '
  assign letters_count_arr = letters_count_arr | replace_last: ', ', '' | split: ', '

  comment
   Main highlight types logic
  endcomment
  assign icon_url = ''
  assign icon_color = 'var(--text)'

  if highlight_color != 'rgba(0,0,0,0)' and highlight_color != ''
    assign icon_color = highlight_color
  endif

  capture text_highlight_icon
    assign has_text_highlight = false

    if title contains '<em>'
      case heading_highlight_type
        when 'squiggle'
          assign icon_url = 'icon-squiggle.svg' | asset_url
          echo '<span class="text-highlight__icon"></span>'
        when 'circle'
          echo '<span class="text-highlight__icon">'
          render 'icon-circle', color: icon_color
          echo '</span>'
        when 'stroke' or 'circle' or 'squiggle' or 'highlight' or 'highlight-color' or 'underline'
          assign has_text_highlight = true
      endcase
    endif
  endcapture

  capture icon_bg
    if icon_url != ''
      echo 'url( "' | append: icon_url | append: '" )'
    else
      echo 'none'
    endif
  endcapture
  capture icon_styles
    assign icon_bg = icon_bg | replace: '"', "'"
    echo 'style="--icon-url: ' | append: icon_bg | append: ';' | append: '--icon-color: ' | append: icon_color | append: ';"'
  endcapture

  assign text_highlight_wrapper_class = 'text-highlight-wrapper' | append: ' text-highlight-wrapper--' | append: heading_highlight_type
  capture text_highlight_start
    echo '<span class="text-highlight" ' | append: icon_styles | append: '>'
  endcapture
  capture text_highlight_end
    echo text_highlight_icon
    echo '</span>'
  endcapture

  if title != blank and title contains '<em>'
    case heading_highlight_type
      when 'squiggle' or 'circle' or 'stroke' or 'highlight' or 'highlight-color' or 'underline'
        assign title = title | replace: '<em>', text_highlight_start | replace: '</em>', text_highlight_end

      when 'circle'
        comment
          Update icon's holder class based on the italicised words count
        endcomment
        assign title = title | split: 'class="text-highlight"'
        assign title_mod = ''
        for title_part in title offset: 1
          assign current_part = title_part

          if title_part contains 'text-highlight__icon'
            capture highlight_icon_classes
              echo 'text-highlight__icon'
              assign current_count = words_count_arr[forloop.index0] | times: 1
              assign letters_count = letters_count_arr[forloop.index0] | times: 1
              if current_count == 1
                echo ' text-highlight__icon--single-word'
              endif
              if letters_count < 6
                echo ' text-highlight__icon--short'
                echo ' text-highlight__icon--l' | append: letters_count
              endif
              if letters_count > 15
                echo ' text-highlight__icon--long'
              endif
            endcapture

            assign current_part = title_part | replace: 'text-highlight__icon', highlight_icon_classes
          endif

          unless forloop.last
            assign title_mod = title_mod | append: current_part | append: 'class="text-highlight"'
          else
            assign title_mod = title_mod | append: current_part
          endunless
        endfor
        assign title_first_part = title | first | append: 'class="text-highlight"'
        assign title_mod = title_mod | prepend: title_first_part
        assign title = title_mod
    endcase
  endif
-%}{%- style -%}
  #FeaturedVideo--{{ section.id }} { --overlay-opacity: {{ overlay_opacity }}; }
  #FeaturedVideo--{{ section.id }} .main-heading {

    {%- if heading_highlight_type != 'highlight' -%}
      --highlight-color: var(--text);
    {%- endif -%}

    {%- if highlight_color != 'rgba(0,0,0,0)' and highlight_color != '' -%}
      --highlight-color: {{ highlight_color }};
    {%- endif -%}

    {%- if highlight_text_color != 'rgba(0,0,0,0)' and highlight_text_color != '' -%}
      --highlight-text-color: {{ highlight_text_color }};
    {%- endif -%}
  }
  #FeaturedVideo--{{ section.id }} .main-heading { --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size }}); }
  #FeaturedVideo--{{ section.id }} .main-text { --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size }}); }

  @media screen and (max-width: 769px) {
    #FeaturedVideo--{{ section.id }} .main-heading { --adjust-heading: calc(var(--FONT-ADJUST-HEADING) * {{ heading_size_mobile }}); }
    #FeaturedVideo--{{ section.id }} .main-text { --adjust-body: calc(var(--FONT-ADJUST-BODY) * {{ text_size_mobile }}); }

  }
{%- endstyle -%}
{% if limitTextoverlaytoBox %}
  {% style %}
  #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner .main-heading,
  #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner .main-text,
  #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner .main-buttons{
    position: relative;
    z-index: 1;
  }
  #FeaturedVideo--{{ section.id }} .video-text-wrapper {
    padding: 0;
  }
  #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner{
    position: relative;
    padding: {{section.settings.limitTextoverlayBoxPadding}}px;
    margin:60px;
  }
  @media screen and (max-width: 769px) {
    #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner{
    margin:25px;
  }
  }
  {% endstyle %}
{% endif %}
{% if section.settings.image != blank %}
  {%  style %}
    #FeaturedVideo--{{ section.id }} .video__container{
      z-index: -1;
    }
    #FeaturedVideo--{{ section.id }}  .video-background { 
      z-index: 1;
    }
    #FeaturedVideo--{{ section.id }} .background-size-cover{
      z-index: 5;
    }
  {% endstyle %}
{% endif %}


{%  style  %} 
#FeaturedVideo--{{ section.id }} .video-text-wrapper-inner{
  text-align: {{ desktop_alignment }};
}
#FeaturedVideo--{{ section.id }} .video-text-wrapper-inner .main-buttons{
  justify-content: {{ desktop_alignment }};
}
@media(max-width:767px){
  #FeaturedVideo--{{ section.id }} .video-text-wrapper-inner{
  text-align: {{ mobile_alignment }};
}
#FeaturedVideo--{{ section.id }} .video-text-wrapper-inner .main-buttons{
  justify-content: {{ mobile_alignment }};
}
}
{% endstyle %} 

{%- if settings.site_brand == 'livingproof' and settings.site_region == 'us' -%}
  <link href="{{ 'video-lp.css' | asset_url }}" rel="stylesheet" type="text/css">
  <link href="{{ 'banner-animation.css' | asset_url }}" rel="stylesheet" type="text/css">
  <script src="{{ 'banner-animation.js' | asset_url }}" defer></script>
{%- endif -%}


<section id="FeaturedVideo--{{ unique }}"
  class="featured-video-section banner-animation-container {{ section_height }} {% if enable_mobile_height %}unset-min-height{% endif %} {% if text_position_mobile == 'under-the-video' %} {{text_position_mobile}}{% endif %}
  {% if text_position_mobile == 'under-the-video' %} under-the-video{% endif %}"
  data-section-id="{{ unique }}"
  data-section-type="featured-video">
  <div class="video-wrapper {% if text_position_mobile == 'under-the-video' %} {{ section_height }} {% endif %} {% if enable_mobile_height %} mobile_height {{ mobile_height }}{% endif %}" data-video-wrapper>
    {%- render 'video',
      unique: unique,
      text_color: text_color,
      overlay_opacity: overlay_opacity,
      title: title,
      heading_highlight_type: heading_highlight_type,
      highlight_color: highlight_color,
      has_text_highlight: has_text_highlight,
      text_highlight_wrapper_class: text_highlight_wrapper_class,
      heading_size: heading_size,
      text: text,
      image: image,
      button_text: button_text,
      button_link: button_link,
      text_position_mobile: text_position_mobile,
      button_style: button_style,
      button_color: button_color,
      limitTextoverlaytoBox: limitTextoverlaytoBox,
      addBlurLayer: section.settings.addBlurLayer,
      button_size: button_size,
      button_full_width_mobile: button_full_width_mobile,
      text_position: text_position,
      show_text_shadow: show_text_shadow,
      animations_enabled: animations_enabled,
      animation_anchor: animation_anchor,
      animation_delay: animation_delay,
      background_video: background_video,
      background_video_mobile: background_video_mobile,
      video_id: video_id,
      video_link: video_popup_link,
      show_video_flow_controls: section.settings.show_video_flow_controls,
      show_video_sound_controls: section.settings.show_video_sound_controls,
      use_new_video_icons: section.settings.use_new_video_icons,
      text_width_class: text_width_class
    -%}
  </div>
  <div class="video-wrapper hide_desktop_video {% if enable_mobile_height %} {{ mobile_height }}{% endif %}" data-video-wrapper>
    {%- render 'video',
      unique: unique,
      text_color: text_color,
      overlay_opacity: overlay_opacity,
      title: title,
      heading_highlight_type: heading_highlight_type,
      highlight_color: highlight_color,
      has_text_highlight: has_text_highlight,
      text_highlight_wrapper_class: text_highlight_wrapper_class,
      heading_size: heading_size,
      text: text,
      image: image,
      button_text: button_text,
      button_link: button_link,
      text_position_mobile: text_position_mobile,
      button_style: button_style,
      button_color: button_color,
      limitTextoverlaytoBox: limitTextoverlaytoBox,
      addBlurLayer: section.settings.addBlurLayer,
      button_size: button_size,
      button_full_width_mobile: button_full_width_mobile,
      text_position: text_position,
      show_text_shadow: show_text_shadow,
      animations_enabled: animations_enabled,
      animation_anchor: animation_anchor,
      animation_delay: animation_delay,
      background_video: background_video,
      background_video_mobile: background_video_mobile,
      video_id: video_id,
      video_link: video_popup_link,
      show_video_flow_controls: section.settings.show_video_flow_controls,
      show_video_sound_controls: section.settings.show_video_sound_controls,
      use_new_video_icons: section.settings.use_new_video_icons,
      text_width_class: text_width_class
    -%}
  </div>
</section>

{% schema %}
{
  "name": "Video",
  "class": "featured-video-section supports-transparent-header",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "video_height",
      "label": "Height",
      "default": "six-fifty-height",
      "options": [
        { "value": "full-height", "label": "Full screen" },
        { "value": "two-thirds-height", "label": "Two thirds of screen" },
        { "value": "one-half-height", "label": "One half of screen" },
        { "value": "one-third-height", "label": "One third of screen" },
        { "value": "one-fifth-height", "label": "One fifth of screen" },
        { "value": "seven-fifty-height", "label": "750px" },
        { "value": "six-fifty-height", "label": "650px" },
        { "value": "five-fifty-height ", "label": "550px" },
        { "value": "four-fifty-height", "label": "450px" }
      ]
    },
    {
        "type": "checkbox",
        "id": "enable_mobile_height",
        "label": "Enable mobile height",
        "default": false
      },
      {
        "type": "select",
        "id": "mobile_height",
        "label": "Mobile height",
        "default": "four-fifty-height-mobile",
        "options": [
          { "value": "full-height-mobile", "label": "Full screen" },
          { "value": "three-quarters-height-mobile", "label": "Three quarters of screen" },
          { "value": "two-thirds-height-mobile", "label": "Two thirds of screen" },
          { "value": "one-half-height-mobile", "label": "One half of screen" },
          { "value": "one-third-height-mobile", "label": "One third of screen" },
          { "value": "one-fifth-height-mobile", "label": "One fifth of screen" },
          { "value": "seven-fifty-height-mobile", "label": "750px" },
          { "value": "six-fifty-height-mobile", "label": "650px" },
          { "value": "five-fifty-height-mobile", "label": "550px" },
          { "value": "four-fifty-height-mobile", "label": "450px" }
        ]
      },
    {
        "type": "select",
        "id": "text_position_mobile",
        "label": "Mobile Text Layout",
        "default": "over-the-video",
        "options": [
          { "value": "under-the-video", "label": "Under the video" },
          { "value": "over-the-video", "label": "Over the video" }
        ]
      },
    {
      "type": "header",
      "content": "Video - Background"
    },
    {
      "type": "video",
      "id": "video_link_bg",
      "label": "Video background autoplay"
    },
    {
      "type": "video",
      "id": "video_link_bg_mobile",
      "label": "Mobile video background autoplay"
    },

    {
      "type": "header",
      "content": "Video - Popup"
    },
    {
      "type": "video",
      "id": "video_popup",
      "label": "Video - Popup"
    },
    {
      "type": "text",
      "id": "video_popup_link",
      "label": "Or video popup link",
      "info": "Video links from YouTube, Vimeo or MP4 video link from [files](/admin/content/files?selectedView=all&media_type=VIDEO)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Displays while video is loading"
    },
    {
      "type": "checkbox",
      "id": "show_video_flow_controls",
      "label": "Show Play / Pause controls",
      "default": false
    },
    {
        "type": "checkbox",
        "id": "show_video_sound_controls",
        "label": "Show sound controls",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "use_new_video_icons",
        "label": "Use new video control icons",
        "default": false
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "select",
      "id": "text_width",
      "label": "Width",
      "default": "normal",
      "options": [
        { "label": "Narrow", "value": "narrow" },
        { "label": "Normal", "value": "normal" },
        { "label": "Wide", "value": "wide" },
        { "label": "full-width", "value": "full-width" }
      ]
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Position",
      "default": "middle-center",
      "options": [
        {
          "value": "top-left",
          "label": "Left Top"
        },
        {
          "value": "left-center",
          "label": "Left Center"
        },
        {
          "value": "bottom-left",
          "label": "Left Bottom"
        },
        {
          "value": "top-center",
          "label": "Center Top"
        },
        {
          "value": "middle-center",
          "label": "Center"
        },
        {
          "value": "bottom-center",
          "label": "Center Bottom"
        },
        {
          "value": "top-right",
          "label": "Right Top"
        },
        {
          "value": "right-center",
          "label": "Right Center"
        },
        {
          "value": "bottom-right",
          "label": "Right Bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_position_vertical_mobile",
      "label": "Mobile Position (optional)",
      "default": "same_as_desktop",
      "options": [
        { "value": "same_as_desktop", "label": "Same as Desktop" },
        { "value": "top", "label": "Top" },
        { "value": "center", "label": "Center" },
        { "value": "bottom", "label": "Bottom" }
      ]
    },
    {
      "type":"select",
      "id":"text_alignment_desktop",
      "label":"Text Alignment",
      "default":"center",
      "options":[
        {"value":"left", "label":"Left"},
        {"value":"center", "label":"Center"},
        {"value":"right", "label":"Right"}
      ]
    },
    {
      "type":"select",
      "id":"text_alignment_mobile",
      "label":"Mobile Text Alignment (optional)",
      "default":"default",
      "options":[
        {"value":"default", "label":"Same As Desktop"},
        {"value":"left", "label":"Left"},
        {"value":"center", "label":"Center"},
        {"value":"right", "label":"Right"}
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "Color",
      "default": "text-light",
      "options": [
        {
          "value": "text-light",
          "label": "Light"
        },
        {
          "value": "text-dark",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Text Contrast",
      "info": "Improves readability of text",
      "min": 0,
      "max": 95,
      "step": 5,
      "unit": "%",
      "default": 10
    },
    {
        "type": "checkbox",
        "id": "limitTextoverlaytoBox",
        "label": "Limit Text Contrast Overlay to Box",
        "default": false
      },
      {
        "type": "range",
        "id": "limitTextoverlayBoxPadding",
        "label": "Limit Box Padding",
        "min": 0,
        "max": 60,
        "step": 30,
        "unit": "px",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "addBlurLayer",
        "label": "Add blur layer under text",
        "default": false
      },
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading",
      "default": "<p>Welcome to Palo Alto</p>",
      "info": "Highlight one or two key words in your heading by italicizing them, then choose the highlight option below"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Size (Desktop)",
      "default": 100,
      "min": 50,
      "max": 300,
      "step": 10,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "heading_size_mobile",
      "label": "Size (Mobile)",
      "default": 100,
      "min": 50,
      "max": 300,
      "step": 10,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Highlight"
    },
    {
      "type": "select",
      "id": "heading_highlight_type",
      "label": "Type",
      "default": "italics",
      "options": [
        { "value": "italics", "label": "Italics (no decoration)" },
        { "value": "highlight", "label": "Highlight" },
        { "value": "highlight-color", "label": "Text color" },
        { "value": "underline", "label": "Underline" },
        { "value": "squiggle", "label": "Squiggle" },
        { "value": "circle", "label": "Circle" },
        { "value": "stroke", "label": "Stroke (outlined text)" }
      ]
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight color",
      "default": "#D43747"
    },
    {
      "type": "color",
      "id": "highlight_text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>This text helps you provide some more detail to the title above.</p>"
    },
    {
      "type": "range",
      "id": "video_text_size",
      "label": "Size (Desktop)",
      "default": 100,
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "video_text_size_mobile",
      "label": "Size (Mobile)",
      "default": 100,
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Text",
      "default": "Welcome"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Link"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Color",
      "default": "btn--white",
      "options": [
        { "label": "Primary", "value": "btn--primary" },
        { "label": "Secondary", "value": "btn--secondary" },
        { "label": "White", "value": "btn--white" },
        { "label": "Black", "value": "btn--black" }
      ]
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "btn--solid-border",
      "options": [
        { "label": "Solid", "value": "btn--solid" },
        { "label": "Outline", "value": "btn--outline" },
        { "label": "Solid with border", "value": "btn--solid-border" },
        { "label": "Text", "value": "btn--text" }
      ]
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "Size",
      "default": "btn--small",
      "options": [
        { "label": "Large", "value": "btn--large" },
        { "label": "Medium", "value": "btn--medium" },
        { "label": "Small", "value": "btn--small" }
      ]
    },
    {
      "type": "checkbox",
      "id": "button_full_width_mobile",
      "label": "Full width on mobile",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Image"
    }
  ],
  "disabled_on": {
    "groups": ["header","aside","footer"]
  }
}
{% endschema %}
