{{ 'component-thumbnail-image-carousel.css' | asset_url | stylesheet_tag }}



<ul class='thumbnails {% if section.settings.card_style %} card-style {% endif %}'>
	{% for slide in section.blocks %}
		<li data-id="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}>
			{% if slide.settings.thumbnail %}
				{{ slide.settings.thumbnail | image_url: width: 413, height: 413 | image_tag}}
			{% else %}
				{{ 'image' | placeholder_svg_tag  }}
			{% endif %}
		</li>
	{% endfor %}
</ul>

{% for slide in section.blocks %}

	{% liquid 
		if forloop.first
			assign arrow_color_tone = slide.settings.arrow_color_type
		endif
	%}

	<div class='slide {% if forloop.first %}active{% endif %} {% if section.settings.card_style %} card-style {% endif %}' data-arrow-style="{{ slide.settings.arrow_color_type }}">
		<div class='content-part' style="background: {{ slide.settings.background_color }}">

			{% if slide.settings.header != blank %}
				<h3>{{ slide.settings.header }}</h3>
			{% endif %}

			{% if slide.settings.text != blank %}
				<div class='text'>{{ slide.settings.text }}</div>
			{%  endif  %}

			{% if slide.settings.button_url != blank and slide.settings.button_text != blank %}
				<a class='btn btn--solid btn--small btn--black btn--desktop-hover shop-all-button' href='{{ slide.settings.button_url }}'>{{ slide.settings.button_text }}</a>
			{% endif %}

		</div>
		{% if slide.settings.image %}
			{{ slide.settings.image | image_url: width: 740, height: 740 | image_tag : class : 'main-image'}}
		{% else %}
			{{ 'image' | placeholder_svg_tag : 'main-image' }}
		{% endif %}
	</div>
{% endfor %}

<div class='controls start {{ arrow_color_tone }}'>
	<div class='left'>
		{% render 'icon-arrow-right' %}
	</div>
	<div class='right'>
		{% render 'icon-arrow-right' %}
	</div>
</div>


{% liquid 
	
	if section.settings.width_type == 'full'
		assign thumbnail_section_width = '100%'
	else
		assign thumbnail_section_width = section.settings.specific_width | append : 'px'
	endif

	if section.settings.height_type == ''
		assign thumbnail_section_height = 'auto'
	else
		assign thumbnail_section_height = section.settings.specific_height | append : 'px'
	endif
%}


{% style %}
	.section-thumbnail-image-carousel{
		background:{{ section.settings.background_color }};
		
	}
	.section-thumbnail-image-carousel .slide{
		width:{{ thumbnail_section_width }};
	}


	@media(min-width:700px){
		.section-thumbnail-image-carousel{
			height:{{ thumbnail_section_height }};
		}
		.section-thumbnail-image-carousel ul{
			width:calc({{ thumbnail_section_width }} / 2);
		}		
	}


{% endstyle %}



<script>
	document.addEventListener('DOMContentLoaded', ()=> {
		let slider = document.querySelector('.section-thumbnail-image-carousel');
		let controls = document.querySelector('.section-thumbnail-image-carousel .controls');

		let slider_index = 0;
		let max_slider_index = slider.querySelectorAll('.slide').length - 1;


		slider.querySelectorAll('.thumbnails li').forEach(item=>{
			item.addEventListener('click',()=>{
				slider_index = Number(item.dataset.id);
				check_controls();
				chnage_slide();
			})
		});


		controls.querySelectorAll('div').forEach(control=>{
			control.addEventListener('click', ()=>{
				slider_index+=control.classList.contains('right') ? 1 : -1
				check_controls();
				chnage_slide();

			})
		})



		function chnage_slide(){
			slider.querySelectorAll('.active').forEach(item=>{item.classList.remove('active')});


			let new_slide = slider.querySelectorAll('.slide')[slider_index]
			new_slide.classList.add('active');


			let new_arrows_color = new_slide.dataset.arrowStyle;
			controls.classList.remove('dark','light');
			controls.classList.add(new_arrows_color);


			slider.querySelectorAll('.thumbnails li')[slider_index].classList.add('active');

		}


		function check_controls(){
			if(slider_index <= 0){
				slider_index = 0;
				controls.classList.add('start')
			}
			else{
				controls.classList.remove('start')	
			}

			if(slider_index >= max_slider_index){
				slider_index = max_slider_index;
				controls.classList.add('end')
			}
			else{
				controls.classList.remove('end')	
			}			
		}

	})
</script>


{% schema %}
  {
    "name": "Thumbnail Image Carousel",
    "class":"section-thumbnail-image-carousel",
    "settings": [
    	{
    		"type":"color",
    		"label":"Entire section background color",
    		"default":"rgba(0,0,0,0)",
    		"id":"background_color"
    	},
    	{
    		"type":"checkbox",
    		"id":"card_style",
    		"label":"Enable card style (border and rounded corners)"
    	},
    	{
    		"type":"select",
    		"label":"Section width",
    		"id":"width_type",
    		"default":"full",
    		"options":[
    			{
    				"label":"Full",
    				"value":"full"
    			},
    			{
    				"label":"Specific Width",
    				"value":"specific"
    			}
    		]
    	},
    	{
    		"type":"number",
    		"label":"Specific width",
    		"id":"specific_width",
    		"default":1504,
    		"visible_if":"{{ section.settings.width_type == 'specific' }}"
    	},







    	{
    		"type":"select",
    		"label":"Section Height",
    		"id":"height_type",
    		"options":[
    			{
    				"label":"Image Height",
    				"value":"image"
    			},
    			{
    				"label":"Specific Height",
    				"value":"specific"
    			}
    		]
    	},
    	{
    		"type":"number",
    		"label":"Specific height",
    		"id":"specific_height",
    		"default":740,
    		"visible_if":"{{ section.settings.height_type == 'specific' }}"
    	}
    ],
    "blocks": [
    	{
    		"type":"slide",
    		"name":"Slide",
    		"settings":[
    			{
    				"type":"image_picker",
    				"id":"image",
    				"label":"Image"
    			},
    			{
    				"type":"image_picker",
    				"id":"thumbnail",
    				"label":"Thumbnail"
    			},
    			{
    				"type":"text",
    				"id":"header",
    				"label":"Header"
    			},
    			{
    				"type":"richtext",
    				"id":"text",
    				"label":"Text"
    			},    			    			    			
    			{
    				"type":"text",
    				"id":"button_text",
    				"label":"Button Label",
    			},
    			{
    				"type":"url",
    				"id":"button_url",
    				"label":"Button URL",
    			},
    			{
    				"type":"color",
    				"id":"background_color",
    				"label":"Content Background Color",
    				"default":"rgba(139, 129, 126, 0.15)"
    			},
    			{
    				"type":"select",
    				"id":"arrow_color_type",
    				"label":"Navigation Arrow Color",
    				"default":"light",
    				"options":[
		    			{
		    				"label":"Light",
		    				"value":"light"
		    			},
		    			{
		    				"label":"Dark",
		    				"value":"dark"
		    			}
    				]
    			}
    		]
    	}
    ],
    "presets": [
      {
        "name": "Thumbnail Image Carousel"
      }
    ]
  }
 {% endschema %}