{%- liquid
  assign layout = section.settings.layout
  assign image_location = section.settings.image_location
  assign image_width = section.settings.image_width
  assign section_height = section.settings.section_height
  assign section_width = section.settings.section_width
  assign text_alignment = section.settings.text_alignment
  assign text_color = section.settings.text_color
  assign bg_color = section.settings.bg_color
  assign items_layout_class = ''
  assign id = 'ImageWithText--' | append: section.id
  assign selector_id = '#' | append: id
  assign animation_anchor = selector_id
  assign animations_enabled = settings.animations_enabled
  assign animation_delay = 150
  assign block_number = section.settings.block_id

  if block_number == 1
    if article.metafields.custom.block_1_image != blank
      assign image_1 = article.metafields.custom.block_1_image.value
    elsif article.metafields.custom_fields.block_1_image != blank
      assign image_1 = article.metafields.custom_fields.block_1_image    
    else
      assign image_1 = blank
    endif

    if article.metafields.custom.block_1_content != blank
      assign text_content_1 = article.metafields.custom.block_1_content | metafield_tag
    elsif article.metafields.custom_fields.block_1_content != blank
      assign text_content_1 = article.metafields.custom_fields.block_1_content
    else
      assign text_content_1 = blank
    endif

  endif

  if block_number == 2
    if article.metafields.custom.block_2_image != blank
      assign image_2 = article.metafields.custom.block_2_image.value
    elsif article.metafields.custom_fields.block_2_image != blank
      assign image_2 = article.metafields.custom_fields.block_2_image    
    else
      assign image_2 = blank
    endif


    if article.metafields.custom.block_2_content != blank
      assign text_content_2 = article.metafields.custom.block_2_content | metafield_tag
    elsif article.metafields.custom_fields.block_2_content != blank
      assign text_content_2 = article.metafields.custom_fields.block_2_content
    else
      assign text_content_2 = blank
    endif

  endif

  if block_number == 3
    if article.metafields.custom.block_3_image != blank
      assign image_3 = article.metafields.custom.block_3_image.value
    elsif article.metafields.custom_fields.block_3_image != blank
      assign image_3 = article.metafields.custom_fields.block_3_image    
    else
      assign image_3 = blank
    endif

    if article.metafields.custom.block_3_content != blank
      assign text_content_3 = article.metafields.custom.block_3_content | metafield_tag
    elsif article.metafields.custom_fields.block_3_content != blank
      assign text_content_3 = article.metafields.custom_fields.block_3_content
    else
      assign text_content_3 = blank
    endif

  endif

  if block_number == 4
    if article.metafields.custom.block_4_image != blank
      assign image_4 = article.metafields.custom.block_4_image.value 
    elsif article.metafields.custom_fields.block_4_image != blank
      assign image_4 = article.metafields.custom_fields.block_4_image    
    else
      assign image_4 = blank
    endif

    if article.metafields.custom.block_4_content != blank
      assign text_content_4 = article.metafields.custom.block_4_content | metafield_tag
    elsif article.metafields.custom_fields.block_4_content != blank
      assign text_content_4 = article.metafields.custom_fields.block_4_content
    else
      assign text_content_4 = blank
    endif

  endif

  if block_number == 5
    if article.metafields.custom.block_5_image != blank
      assign image_5 = article.metafields.custom.block_5_image.value
    elsif article.metafields.custom_fields.block_5_image != blank
      assign image_5 = article.metafields.custom_fields.block_5_image    
    else
      assign image_5 = blank
    endif

    if article.metafields.custom.block_5_content != blank
      assign text_content_5 = article.metafields.custom.block_5_content | metafield_tag
    elsif article.metafields.custom_fields.block_5_content != blank
      assign text_content_5 = article.metafields.custom_fields.block_5_content
    else
      assign text_content_5 = blank
    endif

  endif



  case text_alignment
   when 'left'
    assign text_alignment_class = 'text-left'
   when 'center'
    assign text_alignment_class = 'text-center'
   when 'right'
    assign text_alignment_class = 'text-right'
  endcase

  case layout
    when 'inline'
      case image_location
        when 'left'
          assign items_layout_class = items_layout_class | append: ' image-with-text__items--inline-left'
        when 'right'
          assign items_layout_class = items_layout_class | append: ' image-with-text__items--inline-right'
      endcase
    when 'overlay'
      case image_location
        when 'left'
          assign items_layout_class = items_layout_class | append: ' image-with-text__items--overlay-left'
        when 'right'
          assign items_layout_class = items_layout_class | append: ' image-with-text__items--overlay-right'
      endcase
  endcase

  case image_width
    when 'extra-narrow'
      assign image_width_class = 'image-with-text--image-thirty'
    when 'narrow'
      assign image_width_class = 'image-with-text--image-forty'
    when 'standard'
      assign image_width_class = 'image-with-text--image-fifty'
    when 'wide'
      assign image_width_class = 'image-with-text--image-sixty'
    when 'extra-wide'
      assign image_width_class = 'image-with-text--image-seventy'
  endcase
-%}

{% comment %}
  Enhanced text decorations options - Liqiud variables

  Dependencies:
    - Title liquid object from settings: `assign title = section.settings.title`
    - Highlight type from settings: `assign heading_highlight_type = section.settings.heading_highlight_type`
    - Accent color from global settings: `settings.color_accent`
    - SVG icons:
      - icon-squiggle.svg (assets)
      - icon-circle.liquid (snippet)
{% endcomment %}



{%- style -%}
  {{ selector_id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
      --bg: {{ bg_color }};
    {%- endif -%}
  }

  {{ selector_id }}.hidden{
    display: none!important;
  }

{%- endstyle -%}

{%- capture content -%}

  {%- if block_number == 1 and text_content_1 != blank -%}
    <div class="image-with-text__text"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>{{ text_content_1 | newline_to_br }}</div>
  {%- endif -%}

  {%- if block_number == 2 and text_content_2 != blank -%}
    <div class="image-with-text__text"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>{{ text_content_2 | newline_to_br }}</div>
  {%- endif -%}

  {%- if block_number == 3 and text_content_3 != blank -%}
    <div class="image-with-text__text"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>{{ text_content_3 | newline_to_br }}</div>
  {%- endif -%}

  {%- if block_number == 4 and text_content_4 != blank -%}
    <div class="image-with-text__text"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>{{ text_content_4 | newline_to_br }}</div>
  {%- endif -%}

  {%- if block_number == 5 and text_content_5 != blank -%}
    <div class="image-with-text__text"
      {% if animations_enabled %}
        data-aos="fade-up"
        data-aos-anchor="{{ animation_anchor }}"
        data-aos-delay="{{ animation_delay }}"
        {%- assign animation_delay = animation_delay | plus: 150 -%}
      {% endif %}>{{ text_content_5 | newline_to_br }}</div>
  {%- endif -%}
{%- endcapture -%}


{%- liquid
  if content == blank
    assign items_layout_class = items_layout_class | append: ' image-with-text__items--no-content'
  endif
-%}

<section id="{{ id }}"
  class="section-padding image-with-text {{ section_height }} {{ image_width_class }} {{ text_color }}
  {%if block_number == 0 %}hidden{%endif%}
  {%if block_number == 1 and image_1 == blank and text_content_1 == blank %}hidden{%endif%}
  {%if block_number == 2 and image_2 == blank and text_content_2 == blank %}hidden{%endif%}
  {%if block_number == 3 and image_3 == blank and text_content_3 == blank %}hidden{%endif%}
  {%if block_number == 4 and image_4 == blank and text_content_4 == blank %}hidden{%endif%}
  {%if block_number == 5 and image_5 == blank and text_content_5 == blank %}hidden{%endif%}
  "
  data-section-id="{{ section.id }}"
  data-section-type="image-with-text"
  data-prevent-transparent-header>
  <div class="image-with-text__wrapper">
    <div class="{{ section_width }}">

      <div class="image-with-text__items {{ items_layout_class }}">
        <div class="image-with-text__image">
          {%- assign animation_delay = 150 -%}

          {%- capture image_attributes -%}
            {% if animations_enabled %}
              data-aos="fade"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-delay="{{ animation_delay }}"
            {% endif %}
          {%- endcapture -%} 

          {% if block_number == 1 and image_1 != blank %}
            {%- render 'image-fill', is_background: true, img_object: image_1, image_attributes: image_attributes, classes: 'image-with-text__image-bg', placeholder_svg: 'lifestyle-1' -%}
          {% elsif block_number == 2 and image_2 != blank %}
            {%- render 'image-fill', is_background: true, img_object: image_2, image_attributes: image_attributes, classes: 'image-with-text__image-bg', placeholder_svg: 'lifestyle-1' -%}
          {% elsif block_number == 3 and image_3 != blank %}
            {%- render 'image-fill', is_background: true, img_object: image_3, image_attributes: image_attributes, classes: 'image-with-text__image-bg', placeholder_svg: 'lifestyle-1' -%}
          {% elsif block_number == 4 and image_4 != blank %}
            {%- render 'image-fill', is_background: true, img_object: image_4, image_attributes: image_attributes, classes: 'image-with-text__image-bg', placeholder_svg: 'lifestyle-1' -%}
          {% elsif block_number == 5 and image_5 != blank %}
            {%- render 'image-fill', is_background: true, img_object: image_5, image_attributes: image_attributes, classes: 'image-with-text__image-bg', placeholder_svg: 'lifestyle-1' -%}
            
          {% endif %}


        </div>

        {%- unless content == blank -%}
          <div class="image-with-text__content {{ text_alignment_class }}"
            {% if animations_enabled %}
              data-aos="fade-up"
              data-aos-anchor="{{ animation_anchor }}"
            {% endif %}>
            <div class="image-with-text__content-items">
              {{- content -}}
            </div>
          </div>
        {%- endunless -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Blog content block",
    "class": "transparent-header",
    "settings": [
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "number",
        "id": "block_id",
        "label": "Add Block number"
      },
      {
        "type": "select",
        "id": "section_height",
        "label": "Height",
        "default": "three-fifty-height",
        "options": [
          { "value": "full-height", "label": "Full screen" },
          { "value": "seven-fifty-height", "label": "750px" },
          { "value": "six-fifty-height", "label": "650px" },
          { "value": "five-fifty-height ", "label": "550px" },
          { "value": "four-fifty-height", "label": "450px" },
          { "value": "three-fifty-height", "label": "350px" },
          { "value": "three-hundred-height", "label": "300px" },
          { "value": "two-fifty-height", "label": "250px" },
          { "value": "two-hundred-height", "label": "200px" },
          { "value": "one-fifty-height", "label": "150px" },
          { "value": "one-hundred-height", "label": "100px" }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Layout style",
        "default": "inline",
        "options": [
          { "label": "Inline", "value": "inline" },
          { "label": "Overlay", "value": "overlay" }
        ]
      },
      {
        "type": "select",
        "id": "image_location",
        "label": "Image position",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "select",
        "id": "image_width",
        "label": "Image width",
        "default": "standard",
        "info": "Only applies to the 'inline' layout",
        "options": [
          { "value": "extra-narrow", "label": "Extra narrow" },
          { "value": "narrow", "label": "Narrow" },
          { "value": "standard", "label": "Standard" },
          { "value": "wide", "label": "Wide" },
          { "value": "extra-wide", "label": "Extra wide" }
        ]
      },
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text justification",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "center", "label": "Center" },
          { "value": "right", "label": "Right" }
        ]
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "select",
        "id": "text_color",
        "label": "Text",
        "default": "text-dark",
        "options": [
          { "value": "text-light", "label": "Light" },
          { "value": "text-dark", "label": "Dark" }
        ]
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "header",
        "content": "Section spacing"
      },
      {
        "type": "select",
        "id": "section_width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          { "value": "wrapper--full", "label": "Full width" },
          { "value": "wrapper--full-padded", "label": "Full width padded" },
          { "value": "wrapper", "label": "Page width" }
        ]
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "Padding bottom",
        "default": 60
      }
    ],
    "presets": [
      {
        "name": "Blog content block",
        "category": "Text"
      }
    ],
    "enabled_on": {
      "templates": ["article"]
    }
}
{% endschema %}
